
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    line-height: 1;
}

/* textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
} */


.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.title {
    margin: 10px 5px;
    text-align: center;
}

p {
    text-align: center;
    margin: .5rem;
}

#current-date {
    margin: .5rem;
    text-align: center;
    font-size: 22px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: pre-wrap;
    border-bottom: 1px solid;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 50%;
    white-space: pre-wrap;

}

.hour {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    background-color: #ffffff;
    color: #000000;
}

.past {
    background-color: gray;
    color: white;
}

.present {
    background-color: orange;
    color: white;
}

.future {
    background-color: green;
    color: white;
}

.saveBtn {
    padding-left: 7px;
    padding-right: 4px;
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
}

.saveBtn:hover {
    background-color:#1f778a
}

#refresh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.refreshBtn {
    border-radius: 20px;
    padding: .7rem;
}

.refreshBtn:hover {
    background-color: yellow;
}

